.my-div-span {
  position: absolute;
  font-size: 1em;
  color: #e5e5e5;
  background: #154e69;
  border-radius: 50%;
  padding: 5px;
}

.my-div-span::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 3px;
  width: 0;
  height: 0;
  border-width: 12px 6px 0;
  border-style: solid;
  border-color: #154e69 transparent transparent;
}
